In [12]:
import numpy as np
import operator
import pandas as pd # Для работы с данными
import scipy.stats # При работе со статистикой
import matplotlib.pyplot as plt  # Библиотека для визуализации результатов
%matplotlib inline

In [27]:
from sklearn.linear_model import LogisticRegression

**Задание**
Имеются данные adult.csv (см. в материалах к занятию).
Целевой переменной является уровень дохода income (крайний правый столбец).
1. необходимо построить модели логистической регрессии и SVM, которые предсказывает уровень дохода человека.
2. Вывести качество полученных моделей на тестовой выборке, используя функцию score у модели.

In [14]:
adults = pd.read_csv('https://datahub.io/machine-learning/adult/r/adult.csv', delimiter = ',')
adults.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

In [29]:
adults.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             45222 non-null  int64
 1   workclass       45222 non-null  object
 2   fnlwgt          45222 non-null  int64
 3   education       45222 non-null  object
 4   education-num   45222 non-null  int64
 5   marital-status  45222 non-null  object
 6   occupation      45222 non-null  object
 7   relationship    45222 non-null  object
 8   race            45222 non-null  object
 9   sex             45222 non-null  object
 10  capitalgain     45222 non-null  int64
 11  capitalloss     45222 non-null  int64
 12  hoursperweek    45222 non-null  int64
 13  native-country  45222 non-null  object
 14  class           45222 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.5+ MB

**Готовим данные для модели**

In [16]:
X = pd.get_dummies(adults.loc[:, ['education']])# чисто рассисткий эксперимент показал, что если заменить education на race, то качество модели упадет всего на 1,8% )))))
X.head()

,education_10th,education_11th,education_12th,education_1st-4th,education_5th-6th,education_7th-8th,education_9th,education_Assoc-acdm,education_Assoc-voc,education_Bachelors,education_Doctorate,education_HS-grad,education_Masters,education_Preschool,education_Prof-school,education_Some-college
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [30]:
le.fit( adults['class'])
Y = pd.Series(data = le.transform(adults['class']))# Въехал, что в отличие от dummies label не создает матрицу из 1 и 0, а переводит все в одну колонку, пос ути, заменяя названия на 0 и 1
Y.head()

0    0
1    0
2    0
3    0
4    0
dtype: int32

**Создаем тренировочную и тестовую выборки**

In [31]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=13)

**Обучаем модель**

In [33]:
a_model = LogisticRegression()
a_model.fit(X_train, y_train)
predictions = a_model.predict(X_test)

**проверяем качество модели**

In [21]:
a_model.score(X_train, y_train)

0.7781157682295475

In [34]:
a_model.score(X_test, y_test)

0.7835255579062308

**Создаем и обучаем SVM**

In [23]:
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline # используем пайплайны для удобства
from sklearn.preprocessing import StandardScaler

In [26]:
clf = make_pipeline(StandardScaler(), SVC(gamma='auto')) 
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

**Ну... как-то лучше модель не стала....**

In [25]:
clf.score(X_train, y_train)

0.7781157682295475